Data overview

In [2]:
import pandas as pd

data = pd.read_csv("./../data/raw/apartments_pl_2023_08.csv")

print("Data overview: ")
print(data.head())
print("/n Shape od data", data.shape)
print("\n Lack of values: ")
print(data.isnull().sum())
print("\n Stats:")
print(data.describe(include="all"))

# Cities spectrum
print(data["city"].unique())

Data overview:
                                 id      city          type  squareMeters  \
0  f8524536d4b09a0c8ccc0197ec9d7bde  szczecin  blockOfFlats         63.00
1  accbe77d4b360fea9735f138a50608dd  szczecin  blockOfFlats         36.00
2  8373aa373dbc3fe7ca3b7434166b8766  szczecin      tenement         73.02
3  0a68cd14c44ec5140143ece75d739535  szczecin      tenement         87.60
4  f66320e153c2441edc0fe293b54c8aeb  szczecin  blockOfFlats         66.00

   rooms  floor  floorCount  buildYear   latitude  longitude  ...  \
0    3.0    4.0        10.0     1980.0  53.378933  14.625296  ...
1    2.0    8.0        10.0        NaN  53.442692  14.559690  ...
2    3.0    2.0         3.0        NaN  53.452222  14.553333  ...
3    3.0    2.0         3.0        NaN  53.435100  14.532900  ...
4    3.0    1.0         3.0        NaN  53.410278  14.503611  ...

   pharmacyDistance    ownership  buildingMaterial  condition  \
0             0.413  condominium      concreteSlab        NaN
1             0.205  cooperative      concreteSlab        NaN
2             0.280  condominium             brick        NaN
3             0.087  condominium             brick        NaN
4             0.514  condominium               NaN        NaN

   hasParkingSpace  hasBalcony  hasElevator  hasSecurity  hasStorageRoom  \
0              yes         yes          yes           no             yes
1               no         yes          yes           no             yes
2               no          no           no           no              no
3              yes         yes           no           no             yes
4               no          no           no           no              no

    price
0  415000
1  395995
2  565000
3  640000
4  759000

[5 rows x 28 columns]
/n Shape od data (18905, 28)

 Lack of values:
id                          0
city                        0
type                     4039
squareMeters                0
rooms                       0
floor                    3438
floorCount                262
buildYear                3271
latitude                    0
longitude                   0
centreDistance              0
poiCount                    0
schoolDistance             14
clinicDistance             88
postOfficeDistance         25
kindergartenDistance       13
restaurantDistance         58
collegeDistance           565
pharmacyDistance           27
ownership                   0
buildingMaterial         7387
condition               14344
hasParkingSpace             0
hasBalcony                  0
hasElevator               926
hasSecurity                 0
hasStorageRoom              0
price                       0
dtype: int64

 Stats:
                                      id      city          type  \
count                              18905     18905         14866
unique                             18905        15             3
top     cd0241b70b79aaaf767a0dd3a7cfbb31  warszawa  blockOfFlats
freq                                   1      5471          9089
mean                                 NaN       NaN           NaN
std                                  NaN       NaN           NaN
min                                  NaN       NaN           NaN
25%                                  NaN       NaN           NaN
50%                                  NaN       NaN           NaN
75%                                  NaN       NaN           NaN
max                                  NaN       NaN           NaN

        squareMeters         rooms         floor    floorCount     buildYear  \
count   18905.000000  18905.000000  15467.000000  18643.000000  15634.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean       58.509976      2.676752      3.339820      5.279783   1984.551043
std        21.060168      0.903619      2.549141      3.333666     33.767929
min        25.000000      1.000000      1.000000      1.000000   1850.000000
25%        44.200000      2.000000      2.000000      3.000000   1967.000000
50%        54.400000      3.000000      3.000000      4.000000   1990.000000
75%        68.200000      3.000000      4.000000      6.000000   2014.000000
max       150.000000      6.000000     29.000000     29.000000   2023.000000

            latitude     longitude  ...  pharmacyDistance    ownership  \
count   18905.000000  18905.000000  ...      18878.000000        18905
unique           NaN           NaN  ...               NaN            2
top              NaN           NaN  ...               NaN  condominium
freq             NaN           NaN  ...               NaN        16886
mean       52.020411     19.516394  ...          0.364134          NaN
std         1.353998      1.769053  ...          0.469334          NaN
min        49.979110     14.447127  ...          0.003000          NaN
25%        51.109100     18.536220  ...          0.145000          NaN
50%        52.193604     19.908944  ...          0.239000          NaN
75%        52.412561     20.992010  ...          0.405000          NaN
max        54.583210     23.207128  ...          4.992000          NaN

        buildingMaterial  condition  hasParkingSpace  hasBalcony  hasElevator  \
count              11518       4561            18905       18905        17979
unique                 2          2                2           2            2
top                brick    premium               no         yes           no
freq                8804       2426            14017       10864         9510
mean                 NaN        NaN              NaN         NaN          NaN
std                  NaN        NaN              NaN         NaN          NaN
min                  NaN        NaN              NaN         NaN          NaN
25%                  NaN        NaN              NaN         NaN          NaN
50%                  NaN        NaN              NaN         NaN          NaN
75%                  NaN        NaN              NaN         NaN          NaN
max                  NaN        NaN              NaN         NaN          NaN

        hasSecurity  hasStorageRoom         price
count         18905           18905  1.890500e+04
unique            2               2           NaN
top              no              no           NaN
freq          16977           10159           NaN
mean            NaN             NaN  6.925592e+05
std             NaN             NaN  3.443890e+05
min             NaN             NaN  1.500000e+05
25%             NaN             NaN  4.588000e+05
50%             NaN             NaN  6.200000e+05
75%             NaN             NaN  8.300000e+05
max             NaN             NaN  2.500000e+06

[11 rows x 28 columns]
['szczecin' 'gdynia' 'krakow' 'poznan' 'bialystok' 'gdansk' 'wroclaw'
 'radom' 'rzeszow' 'lodz' 'katowice' 'lublin' 'czestochowa' 'warszawa'
 'bydgoszcz']

A. Data cleaning steps:
1. For NaN in columns hasStorageRoom, hasSecurity, has Elevator, hasBalcony, and hasParkingSpace the NaN is filled with no
2. For NaN in columns with distances, the NaN is  filled with distance to the center
3. For Na in columns with condition, NaN is filled with "Low"
4. Floor is  filled with floor count for apartment
5. FloorCount is to remove
6. bulidYear mean -70 +random (0-40)
7. Type with Notype
8. BuidingMaterial is "concreteSlab"

B. Data analysis
1. Wrocław, Warszawa, Lublin, Łódz, Radom
2. Choice of spectrum of normalized parameters, with similar data, based on mediane, but suficient number of records.
3. Dependence of price VS. hasElevator
4. Dependence price for standard flat rent vs time 
5. Price vs centerDistance
6. Comparison for both rent and purchase

In [3]:
# City with the largest numbe of records:
import os

data_path = "./../data/raw/"

rent = [file for file in os.listdir(data_path) if file.startswith("apartments_rent_pl")]
purchase = [
    file2 for file2 in os.listdir(data_path) if file2.startswith("apartments_pl")
]

print(rent)
print(purchase)


for file in rent:
    data = pd.read_csv(data_path + file)
    city_counts = data["city"].value_counts()
    print(city_counts)

['apartments_rent_pl_2023_11.csv', 'apartments_rent_pl_2023_12.csv', 'apartments_rent_pl_2024_01.csv', 'apartments_rent_pl_2024_02.csv', 'apartments_rent_pl_2024_03.csv', 'apartments_rent_pl_2024_04.csv', 'apartments_rent_pl_2024_05.csv', 'apartments_rent_pl_2024_06.csv']
['apartments_pl_2023_08.csv', 'apartments_pl_2023_09.csv', 'apartments_pl_2023_10.csv', 'apartments_pl_2023_11.csv', 'apartments_pl_2023_12.csv', 'apartments_pl_2024_01.csv', 'apartments_pl_2024_02.csv', 'apartments_pl_2024_03.csv', 'apartments_pl_2024_04.csv', 'apartments_pl_2024_05.csv', 'apartments_pl_2024_06.csv']
city
warszawa       3669
krakow         1035
wroclaw         770
lodz            681
gdansk          525
poznan          472
katowice        330
gdynia          225
szczecin        212
bydgoszcz       204
lublin          182
czestochowa      84
rzeszow          56
bialystok        51
radom            37
Name: count, dtype: int64
city
warszawa       3575
krakow         1524
wroclaw         740
lodz            684
gdansk          531
poznan          466
katowice        307
gdynia          229
szczecin        219
bydgoszcz       195
lublin          171
czestochowa      88
rzeszow          56
bialystok        51
radom            36
Name: count, dtype: int64
city
warszawa       3575
krakow         1449
wroclaw         717
lodz            587
gdansk          468
poznan          412
katowice        307
gdynia          210
szczecin        183
bydgoszcz       158
lublin          140
czestochowa      80
rzeszow          64
bialystok        47
radom            33
Name: count, dtype: int64
city
warszawa       3101
krakow         1631
wroclaw         834
lodz            603
poznan          499
gdansk          486
katowice        302
gdynia          197
szczecin        167
bydgoszcz       156
lublin          138
czestochowa      64
rzeszow          62
bialystok        50
radom            28
Name: count, dtype: int64
city
warszawa       3682
krakow         1697
wroclaw         889
lodz            641
poznan          526
gdansk          483
katowice        331
gdynia          191
szczecin        170
bydgoszcz       167
lublin          149
rzeszow          77
bialystok        61
czestochowa      60
radom            28
Name: count, dtype: int64
city
warszawa       3883
krakow         1767
wroclaw         879
lodz            653
poznan          527
gdansk          478
katowice        340
bydgoszcz       184
szczecin        181
gdynia          171
lublin          158
rzeszow          92
czestochowa      83
bialystok        60
radom            28
Name: count, dtype: int64
city
warszawa       3536
krakow         1794
wroclaw         968
lodz            665
poznan          490
katowice        376
gdansk          365
bydgoszcz       200
szczecin        179
lublin          176
gdynia          142
rzeszow         117
czestochowa     101
bialystok        67
radom            33
Name: count, dtype: int64
city
warszawa       3393
krakow         1764
wroclaw         879
lodz            700
poznan          498
katowice        376
gdansk          259
bydgoszcz       214
lublin          199
szczecin        171
gdynia          118
czestochowa     101
rzeszow          90
bialystok        53
radom            34
Name: count, dtype: int64